<div th:fragment="order-history">

  <div class="accordion-header">
    <button class="accordion-button collapsed" data-bs-toggle="collapse" href="#order-history" type="button">Commandes</button>
  </div>

  <div class="accordion-collapse collapse" id="order-history">

    <div class="accordion-body">

      <table class="table table-responsive">

        <thead>
        <tr>
          <th th:text="'&numero;'"></th>
          <th>Date</th>
          <th>Total</th>
          <th></th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="order : ${client.orderList}">
          <td th:text="${orderStat.index + 1}"></td>
          <td th:text="${order.date}"></td>
          <td th:text="${#numbers.formatDecimal(order.computeTotal(), 1, 2)} + '&nbsp;&euro;'"></td>
          <td>
            <a th:href="@{/auth/orders/{id}(id=${order.id})}"
               class="btn btn-primary">Articles</a>
          </td>
        </tr>

        </tbody>

      </table>

    </div>

  </div>



</div>