<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit-password</title>
</head>
<head>
  <div th:replace="~{fragments/headFragment :: head}"></div>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">


      <div class="card">
          <div class="card-body">
              <form th:action="@{/auth/client/password}" th:object="${clientPasswordDto}" method="post">
                  <fieldset>
                      <legend></legend>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label"></label>
                                  <input type="text" th:field="*{matchingPassword}"  placeholder="mot de pass actuel" class="form-control">
                                  <p style="color: red" th:each="error:${#fields.errors('matchingPassword')}" th:text="${error}"></p>

                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label"></label>
                                  <input type="text" placeholder="Nouveau mot de pass" th:field="*{newPassword}" th:value="*{newPassword}" class="form-control">
                                  <p style="color: red" th:each="error:${#fields.errors('newPassword')}" th:text="${error}"></p>
                              </div>
                          </div>
                      </div>
                  </fieldset>
              </form>
          </div>
      </div>
</div>
</body>
</html>