<!--<body class="body-full">-->

<footer class="footer-position" th:fragment="footer">
    <!-- Footer -->
<!--    <footer class="text-center text-white bg-footer" >-->
<!--      &lt;!&ndash; Grid container &ndash;&gt;-->
<!--      <div class="pt-4 pb-0">-->
<!--        &lt;!&ndash; Section: CTA &ndash;&gt;-->
<!--        <section class="">-->
<!--          <p class="d-flex justify-content-center align-items-center">-->
<!--            <span class="me-3">Une question, une suggestion </span>-->
<!--            <a th:href="@{/contact}" type="button" class="btn btn-outline-light btn-rounded">-->
<!--             contacter nous!-->
<!--            </a>-->
<!--          </p>-->
<!--        </section>-->
        <!-- Section: CTA -->

      <!-- Copyright -->
      <div class="text-center p-3 bg-footer-copyright d-flex justify-content-around " >
       <div class="flex-footer">  © 2023 Copyright :
         <a class="text-white" th:href="@{/products}">Panier Primeur</a>
       </div>

        <div class="flex-footer">
          <span class="me-3">Une question, une suggestion ?</span>
          <a th:href="@{/contact}" type="button" class="btn btn-outline-light btn-rounded">
            Contactez nous!
          </a>
        </div>
      </div>
      </div>
      <!-- Copyright -->
    <!-- Footer -->
</footer>
