<nav class="navbar navbar-expand-lg bg-light" th:fragment="navbar">

  <div class="container-fluid pt-3">
    <a class="navbar-brand" th:href="@{/products}">Panier Primeur</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Hand Side -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/products}">Produits</a>
        </li>

      </ul>
      <!--  recherche -->
      <form  class="mx-4" th:action="@{/products}" method="post">
        <input type="text" name="keyword" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
      </form>

      <!-- Right Hand Side -->
      <div class="d-flex">

        <div sec:authorize="isAuthenticated()">
        <!-- Panier -->
          <a th:href="@{/auth/cart}"
           class="btn btn-primary position-relative me-3 rounded-circle">
          <i class="bi bi-basket"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge bg-danger"
                th:text="${cartCount}">
                </span>
        </a>
        <!-- Profil -->
          <a th:href="@{/auth/client/detail}"
             class="btn btn-primary position-relative me-3 rounded-circle">
            <i class="bi bi-person-fill"></i>
          </a>
        <!-- Logout -->
          <a th:href="@{/auth/logout}" class="btn btn-danger rounded-circle">
            <i class="bi bi-door-open-fill"></i>
          </a>


        </div>

        <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}" class="btn btn-success">Connexion</a>
      </div>
      </div>

    </div>
  </div>
</nav>