.cross-alert{
    position: absolute;
    top:1px;
    right: 9px;
    font-size: 40px;
}
#my-element{
   display: none;
    position: relative;
}
.bg-footer{
    background-color:RGBA(94,117,144,0.57);
}
.footer-position{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.body-full{
    height: 100%;
    padding-bottom: 50px
}
.bg-footer-copyright{
    background-color: rgba(159, 159, 159);
    height: 50px;
}
.flex-footer{
    display: flex;
    align-items: center;
}

.container-card{
    max-width: 1400px;
    margin: auto;
}
.grid-card {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 798px) {
    .grid-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

@media (max-width: 400px) {
    .grid-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
