<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <div th:replace="~{fragments/headFragment :: head}"></div>
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

  <div class="container mt-2" th:object="${pendingOrderDto}">

      <div class="card">
        <div class="card-header text-center"><h2>Panier</h2></div>
        <th:block th:if="${#lists.isEmpty(pendingOrderDto.orderLines)}">

          <div class="card-body text-center">
            <p>Votre panier est vide</p>
          </div>
          <div class="card-footer">
            <form th:action="@{/products}" method="get" class="text-center">
              <button type="submit" class="btn btn-outline-success">Accueil</button>
            </form>
          </div>
        </th:block>

        <th:block th:if="${not #lists.isEmpty(pendingOrderDto.orderLines)}">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Produit</th>
                  <th>Quantité</th>
                  <th>Prix</th>
                </tr>
              </thead>
              <tbody>
              <tr th:each="orderLine : *{orderLines}">
                <td th:text="${orderLineStat.index}"></td>
                <td th:text="${orderLine.product.name}"></td>
                <td>
                  <span th:text="${orderLine.quantity} % 1 == 0 ? ${#numbers.formatDecimal(orderLine.quantity, 1, 0)} : ${#numbers.formatDecimal(orderLine.quantity, 1, 3)}"></span>
                  <span th:text="'&nbsp;' + ${orderLine.product.unit}"></span>
                </td>

                <td th:text="${#numbers.formatDecimal(orderLine.computeTotal(), 1, 2)} + '&nbsp;&euro;'"></td>
                <td>
                  <div class="container">
                    <div class="row">
                      <div class="col-6">
                      </div>
                      <div class="col-6">
                        <form  th:action="@{/auth/cart/delete/{id}(id=${orderLine.id})}" method="post">
                          <button type="submit" name="detail" th:value="${orderLine.id}" class="btn btn-danger">Supprimer</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            Total : <span th:text="${#numbers.formatDecimal(pendingOrderDto.computeTotal(), 1, 2)} + '&nbsp;&euro;'"></span>
            <form th:action="@{/auth/payment}" method="get">
              <button type="submit" th:name="idOrder" th:value="*{id}" class="btn btn-success">Valider la commande</button>
            </form>
            <form th:action="@{/products}" method="get" class="text-center">
              <button type="submit" class="btn btn-outline-success">Ajouter un produit</button>
            </form>
          </div>
        </th:block>
      </div>
  </div>
  <div th:include="footer"></div>
</body>
</html>