<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up form</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div th:replace="header :: header"></div>
    <div class="container mt-4 w-50">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Registration Form</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/client/register}" method="post">

            <!-- Champ pour le client -->
            <fieldset>
              <legend>Full name</legend>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${client.firstName}" placeholder="First name" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" placeholder="Last name" th:name="${client.lastName}" class="form-control">
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>Credentials</legend>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label"></label>
                      <input type="email" placeholder="Email" th:name="${client.email}" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label"></label>
                      <input type="password" placeholder="Password" th:name="${client.password}" class="form-control">
                    </div>
                  </div>
                </div>
            </fieldset>

            <fieldset>
              <legend>Address</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${address.title}" placeholder="Title..."  class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${address.number}" placeholder="Road number..."  class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${address.roadPrefix}" placeholder="Road prefix..." class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${address.roadName}" placeholder="Road name..." class="form-control">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${address.complement}" placeholder="Complement..." class="form-control">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${address.zipCode}" placeholder="Zip code..." class="form-control">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" th:name="${address.city}" placeholder="City..."  class="form-control">
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Champ pour l'adresse -->

            <!-- Champ pour le telephone -->
            <div class="col-md-3">
              <div class="mb-3">
                <label class="form-label"></label>
                <input type="text" th:name="${phone.phoneNumber}" placeholder="Phone number..." class="form-control">
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-outline-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
  </div>

</body>
</html>